/*Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*variáveis para os butões que serão usadas*/
:root{
    --primary: rgb(26, 95, 23);
    --radius: 5px;
}

/*estilos para o toda a página */
body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(255, 255, 255);
    color: white;
    line-height: 3;
}
/*estilizando a header*/
.header{
    margin: 1px auto;
    padding: 24px;
    background: var(--primary);
    box-shadow: 0 0 10px rgb(7, 102, 22);
    text-align: center;
    text-shadow: 0.2em 0.1em #333;
}
/* Container principal com largura máxima e centralizado */
.card {
    max-width: 800px;
    margin: 40px auto;
    padding: 24px;
    background: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card2 {
    max-width: 800px;
    margin: 40px auto;
    padding: 24px;
    background: var(--primary);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}